<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.lxa.demo.mydemo">
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".activity.LoginActivity"
                android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".activity.ProductDetailsActivity" />
        <activity android:name=".activity.SigndateActivity"/>
        <activity android:name=".activity.payActivity"/>
        <activity android:name=".activity.shopActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".activity.DZPActivity"/>
        <activity android:name=".activity.KPActivity"/>
        <activity android:name=".activity.FXQActivity"/>
        <activity android:name=".activity.QHBActivity"/>
        <service
                android:name=".activity.QiangHongBaoService"
                android:enabled="true"
                android:exported="true"
                android:label="抢红包外挂"
                android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/qianghongbao_service_config" />
        </service>
    </application>

</manifest>